#
# Copy and rename this file to .env at root of this project.
#

MYSQL_DATABASE=
MYSQL_HOSTNAME=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=

SEND_IN_BLUE_API_KEY=
# Can be obtained from "Kontakte" > "Listen"
SEND_IN_BLUE_LIST_ID=
# Can be obtained from "Kampagnen" > "Vorlagen"
SEND_IN_BLUE_DOUBLE_OPT_IN_TEMPLATE_ID=

# Example: https://www.startklar.bayern
FRONTEND_URL=
